<nav>
    <ul class="navegation">
        <li class="logo">
            <a href="#">
                <img src="https://firebasestorage.googleapis.com/v0/b/andusoft-affe8.appspot.com/o/oso.svg?alt=media&token=25ebf352-5e8f-4a03-8976-c79a4637f519" alt="AnduSoft">
            </a>
        </li>
        <li class="items"><a href="#">¿Quienes somos?</a></li>
        <li class="items"><a href="#">Servicios</a></li>
        <li class="items"><a href="#">Contactos</a></li>
        <li class="imagen">
            <a href="#">
                <img src="https://firebasestorage.googleapis.com/v0/b/andusoft-affe8.appspot.com/o/1492718755-whatsapp_83610.png?alt=media&token=dad8775f-99ad-4a54-98a5-123d95d767d1" alt="whatsapp">
            </a>
        </li>
    </ul>
</nav>
