<nav>
    <ul class="navegation">
        <div class="logo">
            <img src="https://firebasestorage.googleapis.com/v0/b/andusoft-affe8.appspot.com/o/oso.svg?alt=media&token=25ebf352-5e8f-4a03-8976-c79a4637f519" alt="AnduSoft">
        </div>
        <li class="items"><a href="#">¿Quienes somos?</a></li>
        <li class="items"><a href="#">Servicios</a></li>
        <li class="items"><a href="#">Contactos</a></li>
        <div class="imagen">
            <a href="#">
                <img src="https://firebasestorage.googleapis.com/v0/b/andusoft-affe8.appspot.com/o/whatsapp.svg?alt=media&token=65a18235-d3c4-4580-9d03-79a95b32966f" alt="whatsapp">
            </a>

        </div>
    </ul>
</nav>
