
<nav>
    <ul class="navegation">
        <div class="logo"><p>AnduSoft</p></div>
        <li class="items"><a href="#">¿Quienes somos?</a></li>
        <li class="items"><a href="#">Servicios</a></li>
        <li class="items"><a href="/">Contactos</a></li>
    </ul>
</nav>
