body {
    margin: 0;
    padding: 0;
    border: 0;
}

nav {
    background-color: black;
}

.navegation {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    height: 80px; 
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 5%;
    position: relative;
}

.logo a {
    display: flex; 
    background-color: green; /* Fondo verde para el logo */
    padding: 10px; /* Espacio alrededor del logo */
    border-radius: 10px; /* Opcional: bordes redondeados */
    box-shadow: 0 0 0 10px green; /* Sombra de caja que sobresale */
}

.logo a img {
    width: 60px; /* Ajusta el tamaño según sea necesario */
    height: 60px; /* Ajusta el tamaño según sea necesario */
}

.items {
    display: flex;
    align-items: center;
    margin: 0 15px; /* Espacio entre los elementos */
}

.items a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0 10px; /* Espacio entre los enlaces */
}

.imagen {
    display: flex;
    align-items: center;
    margin-left: auto; /* Mueve la imagen al final de la barra de navegación */
    padding-right: 20px; /* Espacio desde el borde izquierdo */
}

.imagen a {
    display: flex;
}

.imagen a img {
    width: 40px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}
